# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'django-insecure-3o8*)*-128vsm$=csp0ep7i^$j1$0@(d=#604xx19=kleabcj@'

# Database
# https://docs.djangoproject.com/zh-hans/4.2/ref/settings/#databases
DATABASES = {
    'default': {
        # 数据库引擎
        'ENGINE': 'django.db.backends.mysql',
        # 数据库名
        'NAME': 'xxx',
        # 用户名
        'USER': 'root',
        # 密码
        'PASSWORD': '123456',
        # HOST
        'HOST': '127.0.0.1',
        # 端口
        'PORT': '3306',
    }
}

CACHES = {
    "default": {
        "BACKEND": "django_redis.cache.RedisCache",
        # Redis连接
        "LOCATION": "redis://127.0.0.1:6379/0",
        "OPTIONS": {
            "CLIENT_CLASS": "django_redis.client.DefaultClient",
            # "PASSWORD": "xxx",
            # 压缩方法
            # "COMPRESSOR": "django_redis.compressors.zlib.ZlibCompressor",
            # 忽略异常
            "IGNORE_EXCEPTIONS": True,
        }
    }
}

# EMAIL
# https://docs.djangoproject.com/zh-hans/4.2/ref/settings/#std-setting-EMAIL_BACKEND
EMAIL_BACKEND = 'django.core.mail.backends.smtp.EmailBackend'
# 邮箱SMTP服务器地址
EMAIL_HOST = 'smtp.qq.com'
# 邮箱SMTP服务端口
EMAIL_PORT = 25
# 发送邮件的邮箱
EMAIL_HOST_USER = 'xxx@xxx.com'
# 发送邮件的邮箱授权码
EMAIL_HOST_PASSWORD = 'xxxxxxxxxxxxxx'
